.main {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.main > div:nth-child(2) {
    background-color: var(--content-bg);
    flex: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}