.toolbar {
    border-radius: 18px;
    background-color: var(--button-toolbar-bg);
    color: var(--button-toolbar-color);
    border: 0;
    padding: 8px 24px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

.toolbar:hover {
    opacity: 0.8;
}