.toolbar {
    padding: 16px 24px;
    background: var(--table-bg);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}