.sidebar {
    background: var(--sidebar-bg);
    color: var(--sidebar-color);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.sidebar ul {
    list-style: none;
    margin-left: 0;
    padding: 0;
    width: 100%;
}

.sidebar ul li a {
    display: block;
    padding: 8px 16px;
    color: var(--sidebar-color);
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: var(--sidbar-hover-bg);
}

.sidebar img {
    margin-bottom: 100px;
    margin-top: -200px;
}