@import url(../../common.css);

.mainForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkBoxContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datePicker {
    background-color: var(--input-background-focus-color);
  }
  
  .datePicker:hover {
    background-color: var(--input-background-hover-color);
  }
  
  .datePicker:focus {
    border: 1px solid var(--input-border-focus-color);
    background-color: var(--input-background-focus-color);
    outline: 3px solid var(--input-outline-color) ;
  }